{% extends "posts/base.html" %}

{% block title %} Post detail {% endblock title %}

{% block content%}
<form class='container' action="/posts/update/{{post.id}}/" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" aria-describedby="emailHelp" value='{{post.title}}'>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Body</label>
        <textarea class="form-control" rows="3" name='body'>{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}